/* Размер шрифта 1rem=1px */
/* "rem" - если в браузере изменён размер шрифта по умолчанию, чтобы сохранялись пропорции */
:root { font-size: 6.25% }
/* body  { font-size: 16rem } */


body {
  min-inline-size: 320px;
  
  font-family: "Roboto Condensed", sans-serif;
  font-size: 14rem;
  line-height: 1.286;
  
  overflow-y: scroll;
}