@font-face {
  font-family: "Nunito";
  font-weight: 200 1000;
  src: 
    url("../../fonts/nunito.woff2") format("woff2 supports variations"),
    url("../../fonts/nunito.woff2") format("woff2-variations");
}