.form {
  
}

.from__heading {
  margin-block-end: 50px;
}

.form__inner {
  max-inline-size: 380px;
  margin-inline: auto;
}

.form__field {
  margin-block-end: 50px;
}

.form__last {
  margin-block-end: 44px;
}