@import "../../style/base/variables.scss";

.header {
  padding-block: 15px;

  text-align: center;
}

@media (min-width: $sm) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 20px;
  }
}

@media (min-width: $xl) {
  .header {
    padding-block: 30px;
  }
}